@import '@/styles/colors';
@import '@/styles/fonts';
@import '@/styles/mixins';
@import '@/styles/sizes';

.app-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
}

.footer-element {
  border-color: $color-secondary;
  border: 1px solid $color-secondary;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}

.github {
  background-image: url('./../../assets/github.svg');
}

.logo {
  background-image: url('./../../assets/logo.svg');
  background-position: 100% 100%;
}

.year {
  font-size: larger;
  font-weight: 600;
}
