#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-image: url('./assets/background.jpg');
  background-position: top;
  display: flex;
  flex-direction: column;
}

.app-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

.app-content {
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
}

.page-header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  font-size: larger;

  .page-title {
    margin: 10px 0;

    button {
      @include button;
      height: 35px;
      margin: 20px;
    }
  }
}
